<form [formGroup]="sprintForm" class="p-1">
  <div class="mb-3">
    <label for="numberInput" class="form-label">Numer sprintu</label>
    <input
      type="text"
      formControlName="number"
      class="form-control"
      id="numberInput"
    />
  </div>
  <div class="mb-3">
    <label for="startDatenput" class="form-label">Data rozpoczęcia</label>
    <input
      type="date"
      formControlName="startDate"
      class="form-control"
      id="startDateInput"
    />
  </div>
  <div class="mb-3">
    <label for="endDateInput" class="form-label">Data zakończenia</label>
    <input
      type="date"
      formControlName="endDate"
      class="form-control"
      id="endDateInput"
    />
  </div>
</form>
