/* variables */
$breakpoint-large: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$font-main-color: #848383;
$font-light-color: #b7b7b7;
$background-color: rgba(249, 249, 249, 1);

/* global styles */
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, 'Source Sans Pro', 'Trebuchet MS';
  font-size: 14px;
  color: $font-main-color;
  margin: 0;
  padding: 0;
}
